<!-- <div>
  y = {{slopeIntercept.m}}x + {{slopeIntercept.b}}
</div>
<pre>
  {{threePoints.point1 | json}}
  {{threePoints.point2 | json}}
  {{threePoints.point3 | json}}
</pre>
<app-CartesianGraph [dataset]="{p:threePoints,a:chartAnchors,si:slopeIntercept,type:exType,title:''}"></app-CartesianGraph> -->
<p-tabView>
  <p-tabPanel header="Question">
    <p-button label="New Question" (onClick)="newQuestion()" />
    <ng-container *ngIf="ready">
      <ng-container *ngIf="qType === 1">
        <app-equation-from-graph></app-equation-from-graph>
      </ng-container>
      <ng-container *ngIf="qType === 2">
        <app-inequalityFromGraph></app-inequalityFromGraph>
      </ng-container>
    </ng-container>
  </p-tabPanel>
  <p-tabPanel header="Cheat Sheet">
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Per placerat ornare aenean ligula iaculis nibh egestas felis placerat torquent donec dapibus mi blandit mollis finibus dapibus taciti auctor dolor ac posuere non nisi orci velit posuere quisque condimentum phasellus tincidunt bibendum placerat....
    </p>
  </p-tabPanel>

</p-tabView>
